<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>UserType</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [matMenuTriggerFor]="admin">Admin</a>
            <mat-menu #admin="matMenu">
                <a mat-menu-item style="text-decoration:none" [routerLink]="['course/add']"
                    routerLinkActive="router-link-active">
                    Add New Activity</a>
            </mat-menu>
            <a mat-list-item [matMenuTriggerFor]="student">Student</a>
            <mat-menu #student="matMenu">
                <a mat-menu-item style="text-decoration:none" [routerLink]="['/enrollActivity']"
                    routerLinkActive="router-link-active">
                    Enroll Activity</a>
                <a mat-menu-item style="text-decoration:none" [routerLink]="['/enrollActivity']"
                    routerLinkActive="router-link-active">
                    See Activity List</a>
                <a mat-menu-item style="text-decoration:none" [routerLink]="['/enrolledActivity']"
                    routerLinkActive="router-link-active">
                    Remove Enrolled Activity</a>
                <a mat-menu-item style="text-decoration:none" [routerLink]="['/deleteActivity']"
                    routerLinkActive="router-link-active">
                    See Activity Score</a>
            </mat-menu>
            <a mat-list-item [matMenuTriggerFor]="teacher">Teacher</a>
            <mat-menu #teacher="matMenu">
                <a mat-menu-item style="text-decoration:none" [routerLink]="['/grade']"
                    routerLinkActive="router-link-active">
                    Grade</a>
            </mat-menu>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>SE323Project</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>