<div class="mat-elevation-z8">
    <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

        <ng-container matColumnDef="activityId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity id</th>
            <td mat-cell *matCellDef="let row">{{row.activityId}}</td>
        </ng-container>

        <ng-container matColumnDef="activityName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-text">Activity name</th>
            <td mat-cell *matCellDef="let row">{{row.activityName}}</td>
        </ng-container>

        <ng-container matColumnDef="semester">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-text">Semester</th>
            <td mat-cell *matCellDef="let row">{{row.semester}}</td>
        </ng-container>

        <ng-container matColumnDef="academic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-text">Academic</th>
            <td mat-cell *matCellDef="let row">{{row.academic}}</td>
        </ng-container>

        <ng-container matColumnDef="lecturer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-text">Lecturer</th>
            <td mat-cell *matCellDef="let row">{{row.lecturer.name + '  ' + row.lecturer.surname}}</td>
        </ng-container>


        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-text">Score</th>
            <td mat-cell *matCellDef="let row">{{row.score}}</td>
        </ng-container>

        <ng-container matColumnDef="grade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-text">Grade</th>
            <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary" (click)="grade()" type="submit">Grade</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
</div>